<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet"/>


<body>
<div class="limiter">

    <script src="register.component.js"></script>
    <div class="container-login100" style="background-image: url('../../assets/img/bg-01.jpg');">
    <div div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
      <form class="login100-form validate-form flex-sb flex-w">
        <span class="login100-form-title p-b-53">
          <i ><img src="https://cdn.svgporn.com/logos/evergreen-icon.svg" width="200" height="110" alt=""></i>

        </span>
        <div class="form-group">

          <!-- CAMPO DEL RUT-->
          <label class="txt1">Rut</label>
          <div class="wrap-input100 validate-input" data-validate = "Rut is required">
            <input [(ngModel)]="rut_cliente" [dropSpecialCharacters]="false" mask='00.000.000-9' id="rut" name="rut_cliente" type="text" class="input100" placeholder="12345678-9" required="">
            <span class="focus-input100"></span>
          </div>
        </div>


        <!-- CAMPO DEL NOMBRE-->
        <div class="form-group">
          <label class="txt1">Nombre</label>
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="nombre_cliente" name="nombre_cliente" type="text" class="input100" placeholder="Ej: Manuel" required="" maxlength="30">
            <span class="focus-input100"></span>
          </div>
        </div>

        <!-- CAMPO DEL APELLIDO-->
        <div class="form-group">


          <label label class="txt1">Apellido</label>
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="apellido_cliente" name="apellido_cliente" type="text" id="nombre_cliente"class="input100" placeholder="Ej: Zapata" required="" maxlength="30">
            <span class="focus-input100"></span>
          </div>
        </div>

        <!-- CAMPO DEL FONO-->
        <div class="form-group">
          <label class="txt1">Teléfono</label>
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="tel_cliente" [dropSpecialCharacters]="false" prefix="9" mask=" 00000000" name="tel_cliente" type="text" class="input100" placeholder="Ej: 9 12345678" >
            <span class="focus-input100"></span>
          </div>
        </div>

        <!-- cAMPO DEL USUARIO-->
        <div class="form-group">
          <label class="txt1">Nombre de Usuario (se usará para Iniciar Sesión)</label>
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="nombre_usuario" name="nombre_usuario" type="text" class="input100" placeholder="Ej: Usuario..." required="">
            <span class="focus-input100"></span>
          </div>
        </div>

        <!-- CAMPO DE LA CONTRASEÑA-->
        <div class="form-group">
          <label class="txt1">Contraseña</label>
          <div class="wrap-input100 validate-input">
            <input [(ngModel)]="password_usuario" name="password_usuario" type="password" class="input100" placeholder="Contraseña..." required="">
            <span class="focus-input100"></span>
          </div>
        </div>

        <!-- CAMPO DE LA EMPRESA-->
        <div class="input-group">
          <label class="txt1">Empresa</label>
          <div class="wrap-input100 validate-input">
          <select class="custom-select" [(ngModel)]="empresa_id_empresa" name="empresa_id_empresa" required="" class="input100">
            <option *ngFor="let empresa of Empresas" [value]="empresa.id_empresa">{{empresa.nombre_empresa}}</option>
          </select>
          <span class="focus-input100"></span>
        </div>
        </div>


        <!--<button (click)="addUsuario()" type="submit" class="mb-5 btn btn-success mt-5">Registrarme</button>-->
      <div class="container-login100-form-btn m-t-17">
        <button (click)="addUsuario()" value="Validar" type="submit" class="login100-form-btn">Registrarme</button>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
