<div class="container">
  <div class="row mt-2">
    <h2>Bienvenido, {{consultarNombreUsuario()}} ¿Qué deseas hacer?</h2>
  </div>

  <!-- Button trigger modal -->
  <div class="row">
    <button *ngIf="!isAdmin" type="button" class="btn btn-warning" data-toggle="modal" data-target="#agregarAccidente">
      Agregar Accidente
    </button>
    <button *ngIf="!isAdmin" type="button" class="btn btn-success" data-toggle="modal" (click)="listarAccidente()">
      Mis Accidentes
    </button>

    <button *ngIf="isAdmin" type="button" class="btn btn-danger" (click)="listarAccidentes()">
      Registro de Accidentes
    </button>

  </div>

<!-- Modal -->
<div class="modal fade" id="agregarAccidente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agrega un Accidente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="col-12">
          <div class="form-group">
            <label>Descripción del Accidente</label>
            <textarea [(ngModel)]="descripcion_acc" class="form-control" rows="3" name="descripcion_acc"></textarea>
          </div>

          <div class="form-group">
            <label>Fecha del Accidente</label>
            <input [(ngModel)]="fecha_accidente" type="date" class="form-control" name="fecha_accidente">
          </div>
          <div class="form-group">
            <label>Rut Cliente</label>
            <input [(ngModel)]="cliente_rut_cliente" type="text" class="form-control" name="cliente_rut_cliente" placeholder="{{consultarRutUsuario()}}" disabled>
          </div>
          <div class="form-group">
            <label>Nombre de usuario del cliente</label>
            <input [(ngModel)]="cliente_nombre_usuario" type="text" class="form-control" name="cliente_nombre_usuario" placeholder="{{consultarNombreCliente()}}" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button (click)="addAccidente()" type="submit" class="btn btn-success">Guardar Accidente</button>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <p *ngIf="!isAdmin">Listado de mis Accidentes</p>
  <p *ngIf="isAdmin">Listado de todos los Accidentes</p>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descipción</th>
        <th scope="col">Fecha</th>
        <th *ngIf="isAdmin" scope="col">Responsable</th>
        <th *ngIf="isAdmin" scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody *ngIf="!isAdmin">
      <tr *ngFor="let accidente of Accidentes">
        <th scope="row">{{accidente.id_accidente}}</th>
        <td>{{accidente.descripcion_acc}}</td>
        <td>{{accidente.fecha_accidente | date}}</td>
        <td *ngIf="isAdmin"><button>Eliminar</button></td>
      </tr>
    </tbody>


    <tbody *ngIf="isAdmin">
      <tr *ngFor="let accidente2 of Accidentes2">
        <th scope="row">{{accidente2.id_accidente}}</th>
        <td>{{accidente2.descripcion_acc}}</td>
        <td>{{accidente2.fecha_accidente | date}}</td>
        <td>{{accidente2.cliente_nombre_usuario}}</td>
        <td *ngIf="isAdmin"><button class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>


<div class="container">
  <button class="btn" (click)="listarUsuarios()">BTN</button>
</div>
